# Dependencies
node_modules/

# Astro
dist/
.astro/

# Netlify
.netlify/

# Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# Env
.env
.env.*
!.env.example
